<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.ibm.wude.mapper.EmployeeMapper">

	<insert id = "addEmploy" >
  		insert into t_emp(id,name,sex,age,comefrom,time,level,doctor,room) values(#{id},#{name},#{sex},#{age},#{comefrom},#{time},#{level},#{doctor},#{room})
 	</insert>

	<select id = "getAllEmployee" resultType = "com.ibm.wude.model.EmployeeModel">
		select * from t_emp
	</select>

	
	<select id = "getEmployeeModelById" resultType = "com.ibm.wude.model.EmployeeModel">
		SELECT * FROM t_emp WHERE id=#{id}
	</select>
	
	<select id = "getEmployeeModelByName" resultType = "com.ibm.wude.model.EmployeeModel">
		SELECT * FROM t_emp WHERE name=#{name}
	</select>
	
	<delete id = "deleteEmployeeById">
		DELETE FROM t_emp WHERE id=#{id}
	</delete>
	
	<update id = "updateEmployee">
	UPDATE t_emp SET
	name=#{name},
	sex=#{sex},
	age=#{age},
	comefrom=#{comefrom},
	time=#{time},
	level=#{level},
	doctor=#{doctor},
	room=#{room}
	WHERE
	id=#{id}
	</update>
	
	<select id = "getEmpByPage" resultType = "com.ibm.wude.model.EmployeeModel">
	select * from t_emp limit #{page},#{size}
	</select>
	<select id = "count" resultType = "long">
	select count(id) from t_emp
	</select>
	
	<select id="findEmployeeModel" resultType = "com.ibm.wude.model.EmployeeModel" parameterType="String">
	select * from t_emp where name like '%${name}%' or id like '%${id}%' or sex like '%${sex}%' or comefrom like '%${comefrom}%' or time like '%${time}%' or age like '%${age}%' or level like '%${level}%'
	</select>
</mapper>